In [17]:
import sqlite3

In [18]:
db  = sqlite3.connect('kurssit.db')
db.isolation_level = None

In [19]:
cur = db.cursor()

In [20]:
cur.execute("SELECT COUNT(id) FROM Suoritukset")

In [21]:
cur.fetchall()

[(1000000,)]

In [22]:
print("1 - Laske annettuna vuonna saatujen opintopisteiden yhteismäärä")
print("2 - Tulosta annetun opiskelijan kaikki suoritukset aikajärjestyksessä")
print("3 - Tulosta annetun kurssin suoritusten arvosanojen jakauma")
print("4 - Tulosta top x eniten opintopisteitä antaneet opettajat")
print("5 - Sulje ohjelma")


while True:
    komento = input("Valitse toiminto: ")

    if komento == "1":
        vuosi = input("Anna vuosi: ")
        op_maarat = db.execute("SELECT SUM(K.laajuus) FROM Kurssit K LEFT JOIN Suoritukset S ON K.id = S.kurssi_id WHERE strftime('%Y', S.paivays)=(?)", [vuosi]).fetchone()
        print("Opintopisteiden määrä:", op_maarat[0])
        
    if komento == "2":
        opiskelija = input("Anna opiskelijan nimi: ")
        opis_kurssit = db.execute("SELECT K.nimi, K.laajuus, S.paivays, S.arvosana FROM Kurssit K LEFT JOIN Suoritukset S ON K.id = S.kurssi_id WHERE S.opiskelija_id = (SELECT S.opiskelija_id FROM Suoritukset S LEFT JOIN Opiskelijat O ON S.opiskelija_id = O.id WHERE O.nimi=(?))", [opiskelija])
        print("kurssi \t op \t päiväys \t arvosana")
        for x in opis_kurssit:
            print("{}\t {} \t {} \t {}".format(x[0],x[1],x[2],x[3]))
    
    if komento == "3":
        kurssi = input("Anna kurssin nimi: ")
        kurssi_arvosanat = db.execute("SELECT COUNT(S.arvosana) FROM Suoritukset S LEFT JOIN Kurssit K ON S.kurssi_id = K.id WHERE K.nimi=(?) GROUP BY S.arvosana", [kurssi])
        y = 0
        idx = 1
        for k_arvosana in kurssi_arvosanat:
            print("Arvosana {}: {} kpl".format(idx, k_arvosana[y]))
            idx += 1
            
    if komento == "4":
        ope_maara = input("Anna opettajien määrä: ")
        annetut_op = db.execute("SELECT O.nimi, SUM(K.laajuus) as annetut_op FROM Opettajat O, Kurssit K, Suoritukset S WHERE O.id = K.opettaja_id AND K.id = S.kurssi_id GROUP BY K.opettaja_id ORDER BY annetut_op DESC LIMIT (?)", [ope_maara])
        print("opettaja \t op")
        for ope in annetut_op:
            print(ope[0],'\t', ope[1])
        
    if komento == "5":
        break

1 - Laske annettuna vuonna saatujen opintopisteiden yhteismäärä
2 - Tulosta annetun opiskelijan kaikki suoritukset aikajärjestyksessä
3 - Tulosta annetun kurssin suoritusten arvosanojen jakauma
4 - Tulosta top x eniten opintopisteitä antaneet opettajat
5 - Sulje ohjelma
Valitse toiminto: 1
Anna vuosi: 2015
Opintopisteiden määrä: 279558
Valitse toiminto: 2
Anna opiskelijan nimi: Anna Koivisto
kurssi 	 op 	 päiväys 	 arvosana
TKT6428	 1 	 2000-01-24 	 3
TKT3749	 4 	 2001-03-17 	 5
TKT1660	 3 	 2012-04-30 	 1
TKT3786	 7 	 2013-01-30 	 4
TKT7822	 3 	 2008-07-10 	 2
TKT1573	 10 	 2008-02-22 	 2
TKT6914	 1 	 2011-03-29 	 5
TKT1365	 8 	 2005-04-08 	 1
TKT9221	 5 	 2011-06-08 	 2
TKT2416	 6 	 2005-03-08 	 3
TKT0517	 4 	 2004-09-02 	 1
TKT8667	 7 	 2004-08-15 	 5
TKT0824	 8 	 2014-09-01 	 1
TKT5072	 6 	 2004-04-14 	 1
TKT4861	 3 	 2001-10-03 	 3
TKT1208	 7 	 2013-07-22 	 4
TKT5777	 3 	 2002-12-17 	 3
TKT9526	 6 	 2009-07-21 	 2
TKT4508	 10 	 2013-06-01 	 5
TKT2780	 1 	 2001-04-10 	 5
TKT8083	 5 	 2017-05-28 	 3
TKT6137	 3 	 2011-12-29 	 2
TKT0072	 4 	 2013-03-21 	 3
TKT9624	 7 	 2019-08-24 	 3
TKT6993	 2 	 2007-11-03 	 2
TKT5882	 4 	 2014-10-12 	 3
TKT9540	 4 	 2018-04-21 	 2
TKT8064	 1 	 2005-08-17 	 4
TKT4668	 4 	 2003-06-23 	 2
TKT6193	 8 	 2017-02-25 	 5
TKT5032	 9 	 2003-01-22 	 5
TKT5059	 8 	 2012-05-08 	 1
TKT4189	 4 	 2012-09-29 	 3
TKT8289	 5 	 2010-12-18 	 5
TKT9351	 8 	 2000-03-27 	 4
TKT0741	 2 	 2002-09-30 	 1
TKT3714	 6 	 2012-02-14 	 3
TKT6550	 8 	 2003-08-02 	 4
TKT9917	 7 	 2003-05-16 	 1
TKT7717	 6 	 2019-08-27 	 5
TKT9787	 4 	 2003-12-19 	 3
TKT6090	 2 	 2001-09-21 	 3
TKT0851	 7 	 2001-02-13 	 2
TKT5053	 5 	 2004-06-30 	 4
TKT6770	 8 	 2006-10-15 	 3
TKT8891	 3 	 2000-06-18 	 3
TKT3672	 6 	 2008-10-20 	 4
TKT9583	 8 	 2006-06-25 	 2
TKT3852	 10 	 2015-01-30 	 4
TKT8786	 6 	 2012-10-07 	 4
TKT9373	 10 	 2000-02-24 	 2
TKT7391	 1 	 2005-09-14 	 5
TKT5860	 1 	 2012-09-24 	 2
TKT2179	 6 	 2019-04-02 	 2
TKT9986	 1 	 2010-01-08 	 1
TKT7439	 1 	 2004-11-01 	 4
TKT7120	 2 	 2000-07-29 	 5
TKT3118	 4 	 2006-04-11 	 5
TKT1904	 4 	 2013-11-29 	 2
TKT9145	 3 	 2014-09-02 	 4
TKT0434	 9 	 2006-03-10 	 3
TKT8485	 2 	 2017-12-23 	 1
TKT1090	 5 	 2010-12-23 	 3
TKT3112	 3 	 2016-04-08 	 5
TKT6678	 7 	 2003-04-17 	 4
TKT5088	 9 	 2011-12-07 	 1
TKT9805	 3 	 2001-06-23 	 3
TKT9473	 1 	 2005-04-11 	 1
TKT5409	 5 	 2004-01-14 	 4
TKT3722	 7 	 2008-08-29 	 5
TKT1404	 1 	 2010-01-29 	 5
TKT1095	 7 	 2006-01-24 	 2
TKT7492	 9 	 2016-02-17 	 1
TKT5165	 2 	 2002-11-09 	 5
TKT8462	 5 	 2007-10-11 	 1
TKT7208	 2 	 2006-11-16 	 4
TKT3108	 8 	 2013-01-23 	 3
TKT8825	 3 	 2005-10-31 	 4
TKT2433	 10 	 2006-11-20 	 3
TKT6763	 5 	 2011-09-09 	 4
TKT4177	 10 	 2012-07-06 	 5
TKT4792	 4 	 2016-11-16 	 3
TKT8089	 4 	 2012-10-24 	 4
TKT4700	 10 	 2010-12-14 	 1
TKT6982	 2 	 2015-02-24 	 4
TKT8070	 2 	 2013-02-08 	 4
TKT3872	 4 	 2007-10-11 	 3
TKT1620	 2 	 2012-12-23 	 5
TKT6553	 5 	 2006-01-29 	 2
TKT8223	 10 	 2001-09-25 	 1
TKT0151	 9 	 2013-03-08 	 4
Valitse toiminto: 3
Anna kurssin nimi: TKT8485
Arvosana 1: 215 kpl
Arvosana 2: 188 kpl
Arvosana 3: 193 kpl
Arvosana 4: 201 kpl
Arvosana 5: 208 kpl
Valitse toiminto: 4
Anna opettajien määrä: 5
opettaja 	 op
Pentti Tiainen 	 106721
Otto Kuusela 	 106434
Joel Aalto 	 99067
Sirpa Hänninen 	 94917
Tommi Ojala 	 92107
Valitse toiminto: 5